#calculator {
  border: solid 1px black;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: white;
}

.calcrow {
  width: 150px;
  margin: 0 auto;
}

.calc_text {
  position: relative;
}

#calc_loading {
  background-image: url('../images/loading.gif');
  height: 24px;
  width: 24px;
  margin-left: 15px;
  float: left;
  position: absolute;
  top: 8px;
  left: 2px;
  display: none;
}

#calc_loading.active {
  display: block;
}

.form-item.form-type-textfield.form-item-textfield {
  margin-bottom: 0.5em;
}

#edit-textfield {
  width: 135px;
  text-align: right;
  text-indent: 3px;
  font-size: large;
}

.button {
  width: 25px;
  float: left;
  text-align: center;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 4px;
  background-color: black;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.button.last {
  clear: right;
  width: 50px;
}

.calculatebutton {
  float: left;
  text-align: center;
  width: 50px;
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 0px;
  margin-top: 4px;
  background-color: black;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.clear {
  clear: both;
}
